.content-container {
  margin: 0 auto;
  padding: 0 2.4rem;
  max-width: 80rem;
}

.header {
  background: #e1f2f7;
  color: #425664;
  margin-bottom: 3.2rem;
  padding: 0.5rem 0;
}

.header__title {
  font-size: 1.8rem;
  margin: 0;
}

.header__subtitle {
  color: #fab162;
  font-size: 1.6rem;
  margin: 0;
}
